projects:
  - name: Password Generator
    environments:
      - name: Dev
        services:
          - type: web
            plan: free
            name: jezyki_skryptowe_url_short_backend_dev
            runtime: python
            repo: https://github.com/kierasuj/jezyki_skryptowe_url_short
            buildCommand: pip install -r backend/requirements.txt
            startCommand: gunicorn -w 2 -b 0.0.0.0:$PORT backend.app:app
            healthCheckPath: /health
            envVars:
              - key: PYTHON_VERSION
                value: 3.14.0
              - key: CORS_ALLOW_ALL
                value: "true"
              - key: PW_DEFAULT_LENGTH
                value: "16"
              - key: PW_MIN_LENGTH
                value: "4"
              - key: PW_MAX_LENGTH
                value: "128"

          - type: web
            name: jezyki_skryptowe_url_short_frontend_dev
            runtime: static
            repo: https://github.com/kierasuj/jezyki_skryptowe_url_short
            branch: dev
            autoDeployTrigger: commit
            buildCommand: cd frontend && npm install && npm run build
            staticPublishPath: frontend/dist
