#root {
    height: 100%;
    width: 100%;
}
.layout {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    box-shadow: 2rem 2rem 2rem gray;
    background-color: white;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.header {
    font-size: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    color: black;
}

.input {
    width: 30rem;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    font-size: 1.5rem;
}

.button {
    width: fit-content;
}

.container-generate {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

.text-error {
    font-size: 1.5rem;
    color: red;
}

.massive {
    font-size: 12rem;
}

@media screen and (max-width: 800px) {
    .layout {
        width: 80%;

        .container {
            width: 90%;

            .header{
                margin-bottom: 2rem;
            }

            .input {
                
                margin-bottom: 1rem;
                width: 80%;
            }

            .container-generate{
                flex-wrap: wrap;
            }
        }
    }
}
